@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #251c09;
        --background: #faf6eb;
        --primary: #69531b;
        --secondary: #70dbd1;
        --accent: #3273c8;
    }
    .dark {
        --text: #f6edda;
        --background: #141005;
        --primary: #e4ce96;
        --secondary: #248f84;
        --accent: #3778cd;
    }
}
